@using WebStore.Models
@using System.Diagnostics.CodeAnalysis



<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">

        <MudCard Elevation="10">
            <MudCardHeader>
                <img src="https://1.bp.blogspot.com/-IaCcki7fyt0/YCnYEfuOk4I/AAAAAAAAHio/PjW2O_WtS_wrP6xB42sNbsZsk-grC5IKwCLcBGAsYHQ/s0/Promocion-explora-las-posibilidades-udemy-2021-02.png"/>
            </MudCardHeader>
            <div class="panel-body">
                <article class="col-sm-12 maincontent" style="display: block">
                   
                    <label style="color: black; font-size: 18px">@Course.Name</label>
                    <label style="font-size: 15px">@Course.Description</label>
                    <MudRating Size="Size.Large" ReadOnly="true" @bind-SelectedValue="Course.Assessment"/>
                    <br/>
                    <div>
                        <label style="font-size: 18px; color: black">@Course.FinalPrice.ToString("C2")</label>
                        &nbsp;
                        <label style="font-size: 18px;"><strike>@Course.Price.ToString("C2")</strike></label>
                        
                    </div>

                </article>
            </div>
        </MudCard>


    </div>
</div>
@code {
    [Parameter, NotNull]
    public Course Course { get; set; }


}
