@page "/Courses"
@using WebStore.Models
@using WebStore.Data
@using AsyncAwaitBestPractices

<body>
    <Header />

    <div class="container add-padding"  >
        <div class="row" >
            <br>
            <!-- Article main content -->
           
            <article  >
                <header class="page-header">
                    <h1 class="page-title">Cursos</h1>
                </header>
                <div class="row">
                    @foreach (Course course in Courses)
                {
                       <CourseView Course="course" />                   
                }
                </div>
            </article>
        </div>
    </div>
</body>



@code {
    private readonly List<Course> Courses;

    public CoursesPage() : this(new MongoDb())
    {

    }
    public CoursesPage(MongoDb db)
    {
        Courses = new List<Course>();
        Course.GetAll(db).ContinueWith((Task<List<Course>> t) =>
        {
            Courses.AddRange(t.Result);
            this.InvokeAsync(StateHasChanged);
        }).SafeFireAndForget();
    }


}

