@page "/Courses"
<body>
    <article class="col-sm-2 maincontent">
        <label>Curso C#</label><br/>
        <label>1600$</label>
        <label>Curso de C# .NET desde cero para el desarrollo de diversas aplicaciones multiplataforma</label>
        <img src="https://1.bp.blogspot.com/-IaCcki7fyt0/YCnYEfuOk4I/AAAAAAAAHio/PjW2O_WtS_wrP6xB42sNbsZsk-grC5IKwCLcBGAsYHQ/s0/Promocion-explora-las-posibilidades-udemy-2021-02.png"/>
        <label class="text-danger">50% de descuento</label>
    </article>
</body>

@code {

}
